{% extends "layout.njk" %}

    {% block head %}
    <title>Rocketseat Page | About</title>
    {% endblock %}
    
    {% block content %}

        <div id="wrapper">
            <img class="logo" src="{{about.avatar_url}}" alt="Logo da {{about.name}}">
            <h1>{{about.name}}</h1>
            <h2>{{about.subtitle}}</h2>
            <p>{{about.description}}</p>
            <h3>Tecnologias:</h3>
            <ul>
                {% for tech in about.techs %}
                <li>{{tech}}</li>
                {% endfor %}
            </ul>
        </div>

        <div id="links-footer" class="links">
            {% for link in about.links %}
            <a href="{{link.url}}" target="_blank">{{link.name}}</a>
            {% endfor %}
        </div>

    {% endblock %}