{% extends "layout.njk" %}

{% block content %}
        
<div id="wrapper">
    <div class="container-info">
        <img src="/assets/chef.png" alt="">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>

    <div class="container-dishes">
        <h1>Mais acessadas</h1>
        <div class="dishes-index">
        {% for recipe in recipes %}
            <section class="dishes">
                <div id="{{recipe.id}}"class="dish">
                    <div class="container-image">
                        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                    </div>
                    <h1>{{recipe.title}}</h1>
                    <h2>Por {{recipe.author}}</h2>
                </div>
            </section>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="scripts.js"></script>
{% endblock scripts %}
