@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111111;
}


header {
    padding-top: 32px;
    width: 940px;
    margin: 0 auto;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100px;
    align-items: center;
    margin-bottom: 24px;
    font-size: 16px;
}

.links .image {
 
    margin-right: 100px;
    margin-left: 0;
}

.links .active-sobre {
    font-weight: bold;
}

.links a{
    margin: 0 24px;
    text-decoration: none;
    color: #111111;
}

.link-active {
    font-weight: bold;
}

#wrapper {
    width: 940px;
    margin: 0 auto;
}

.container-info {
    background-color: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    position: relative;
}

.container-info-nf {
    background-color: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    margin: 0 auto;
    text-align: center;
}

.container-info-nf  h1{
    padding-top: 140px;
}

.container-info img {
    position: absolute;
    bottom: 0px;
    right: 80px;
}

.container-info h1 {
    position: absolute;
    left: 50px;
    top: 120px;
    font-size: 32px;
    line-height: 38px;
}

.container-info p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    color: #000000;
    position: absolute;
    left: 50px;
    top: 170px;
    text-align: left;
    width: 316px;
}

.container-dishes {
    margin-top: 44px;
}

.container-dishes h1 {
    font-size: 24px;
    text-align: left;
}

.dishes-index {
    margin: 24px 24px 24px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}

.dishes {
    margin: 24px 24px 24px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dishes img {
    width: 297px;
    height: 140px;
    border-radius: 15px;
}

.dishes h1 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 8px; 
}

.dishes h2 {
    font-size: 14px;
    color: #777777;
}

.dish {
    text-align: left;
    cursor: pointer;
    margin-bottom: 30px;
}

.dish h1 {
    text-align: left;
    font-weight: normal;
}

.dish h2 {
    text-align: left;
    font-weight: normal;
}


/*===ABOUT===*/

.container-article {
    margin-top: 44px;
}

.container-article h1 {
    font-size: 24px;
    line-height: 28px;
}

.container-article h2 {
    font-size: 20px;
}

.container-article p {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin: 28px 0;
}

.footer {
    display: grid;
    background-color: #EEEEEE;
    height: 62px;
    align-items: center;
}

.footer p {
    font-size: 14px;
    color:  #999999;
    text-align: center;
}

/*===MATERIALICON===*/

.material-icons.md-dark.md-inactive {
     color: rgba(0, 0, 0, 0.26);
     cursor: pointer;
}

/*===RECIPE-DETAIL===*/

.dish.details {
    margin: 36px 0;
    cursor: default;
}

.dish.details img {
    border-radius: 15px;
}

.dish.details h1{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-top: 36px;
    margin-bottom: 8px;
}

.dish.details h2 {
    text-align: center;
    color: #777777;
    font-size: 20px;
}

.container-article.index h2 {
    font-size: 24px;
}

.container-article.index ul {
    margin: 28px 0;
}

.container-article.index li {
    list-style-position: inside;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.container-article.index i {
    padding: 0 10px;
}

.content-ingredients.active, .content-preps.active, .content-infos.active {
    display: none;
}